%% -*- erlang -*-
{erl_opts,[debug_info, fail_on_warning]}.
{deps_dir, ["deps"]}.
{sub_dirs, ["rel"]}.
{deps, [
        {alog, ".*", {git, "git://github.com/siberian-fast-food/alogger.git", "master"}},
        {rfc4627_jsonrpc, ".*", {git, "git://github.com/tonyg/erlang-rfc4627.git", "master"}},
        {oauth, ".*", {git, "git://github.com/tim/erlang-oauth.git", "master"}}
       ]
}.
{require_otp_vsn, "R14"}.