%% -*- erlang -*-
[
 {sasl, [
                {sasl_error_logger, false}
        ]},
 {alog, [
                       {enabled_loggers, [alog_disk_log]},
                       {install_error_logger_handler, true},
                       {flows, [
                                {{mod, ['_']},{'<', debug}, [alog_disk_log]}
                               ]},
                       {alog_syslog, [
                                      {ident, "etwit"},
                                      {logopt, [cons, perror, pid]},
                                      {facility, user}
                                     ]},
                       {alog_disk_log, [{name, alog_disk_log},
                                        {file, "/tmp/alogger.log"},
                                        {format, external}]}
        ]},
  {etwit, [
                {oauth, [
                            {consumer_key, "7nuvrQYyYrodHPMPCAiBw"},
                            {consumer_secret, "6FGGaZ9yzfYsHy6m4oFGhaEUV2QgKvQEUhkAT0a13Y"},
                            {token, "443059013-xD4xcMI4KZFk5IJGX0AzXnD6fJ3JxOadla83VpPV"},
                            {secret, "5WvYYg8KYMKm3p7AAOriTsZda047bYwlEYJHwcQ"}
                        ]
                }
            ]
    }
].
